@tailwind base;
@tailwind components;
@tailwind utilities;

/* override slick carousel styles */
@media screen and (prefers-color-scheme: light) {
  .slick-arrow:before {
    color: #232323 !important;
  }
}
